<h1>New Dealership</h1>

<%= form_with url: "/dealerships/", method: :post, local: true, authenticity_token: form_authenticity_token do |form| %>
  <div class="mb-3">
    <%= form.label :name, "Dealer name:", class: "form-label" %>
    <%= form.text_field :name, class: "form-control", required: true, placeholder: "Dealer name.." %>
  </div>
  <div class="mb-3">
    <%= form.label :lot_size, "Dealer lot size:", class: "form-label" %>
    <%= form.number_field :lot_size, class: "form-control", required: true, placeholder: "Dealer lot size.." %>
  </div>
  <div class="mb-3 p-3 rounded" style="background-color: #37393a">
    <div class="form-check">
      <%= form.radio_button :service_center, true, class: "form-check-input" %>
      <%= form.label :service_center_true, "Has a service center", class: "form-check-label" %>
    </div>
    <div class="form-check">
      <%= form.radio_button :service_center, false, class: "form-check-input", checked: true %>
      <%= form.label :service_center_false, "Does not have a service center", class: "form-check-label" %>
    </div>
  </div>
  <div class="mb-3 p-3 rounded" style="background-color: #37393a">
    <div class="form-check">
      <%= form.radio_button :car_wash, true, class: "form-check-input" %>
      <%= form.label :car_wash_true, "Has a car wash center", class: "form-check-label" %>
    </div>
    <div class="form-check">
      <%= form.radio_button :car_wash, false, class: "form-check-input", checked: true %>
      <%= form.label :car_wash_center, "Does not have a car wash center", class: "form-check-label" %>
    </div>
  </div>
  <div class="d-flex align-items-center justify-content-center">
    <%= form.submit "Create Dealership", class: "btn btn-success" %>
  </div>
<% end %>