<div id="id_<%= @dealership.id %>" class="d-flex align-items-center justify-content-center flex-column">
  <h5>Dealership name: <span class="text-success"><%= @dealership.name %></span></h5>
  <p>Dealership lot size: <%= @dealership.vehicle_lot_size %></p>
  <p>Service center: <%= @dealership.service_center %></p>
  <p>Car-wash center: <%= @dealership.car_wash %></p>
  <p>Current vehicle count: <%= @dealership.vehicles_count %></p>
  <div class="btn-group" role="group">
    <%= form_with url: "/dealerships/#{@dealership.id}", method: :delete, local: true, authenticity_token: form_authenticity_token do |form| %>
      <%= form.submit "Delete Dealership", class: "mx-1 btn btn-danger" %>
    <% end %>
    <%= link_to "Update Dealership", "/dealerships/#{@dealership.id}/edit", class: "mx-1 btn btn-warning rounded"%>
  </div>
  <%= link_to "View dealership vehicles","/dealerships/#{@dealership.id}/vehicles", class: "btn btn-success mt-3" %>
</div>