<h1>All vehicles list</h1>
<%= link_to "Create Vehicle", "/dealerships/#{@vehicles.first.dealership_id}/vehicles/new" %>

<% @vehicles.each do |vehicle| %>
  <div id="id_<%= vehicle.id %>">
    <p>Vehicle name: <%= vehicle.name %></p>
    <p>Vehicle cylinder count: <%= vehicle.cylinder_count %></p>
    <p>This vehicle has the luxury model: <%= vehicle.luxury_model %></p>
    <p>Vehicle horsepower: <%= vehicle.horsepower %></p>
    <p>Vehicle torque: <%= vehicle.torque %></p>
  </div>
<% end %>
<%= link_to "Sort alphabetically by Name", "/dealerships/#{@vehicles.first.dealership_id}/alphabetical/vehicles/" %>