<h1>All vehicles list</h1>
<%= link_to "Create Vehicle", "/dealerships/#{@dealer.id}/vehicles/new", class: 'btn btn-success' %>

<% @vehicles.each do |vehicle| %>
  <div id="id_<%= vehicle.id %>" class="d-flex align-items-center justify-content-center flex-column mt-5">
    <h5>Vehicle name: <%= link_to vehicle.name, "/vehicles/#{vehicle.id}", class: "link-success"%></h5>
    <p>Vehicle cylinder count: <%= vehicle.cylinder_count %></p>
    <p>This vehicle has the luxury model: <%= vehicle.luxury_model %></p>
    <p>Vehicle horsepower: <%= vehicle.horsepower %></p>
    <p>Vehicle torque: <%= vehicle.torque %></p>
  </div>
<% end %>
<!-- Change this to use ?sort=alphabetical -->
<%= link_to "Sort alphabetically by Name", "/dealerships/#{@dealer.id}/alphabetical/vehicles/", class: "btn btn-success m-2" %>

<%= form_with url: "/dealerships/#{@dealer.id}/vehicles", method: :patch, local: true, authenticity_token: form_authenticity_token do |form| %>
  <div class="mb-3 mt-3">
    <%= form.label :threshold, "Threshold number:", class: "form-label" %>
    <%= form.number_field :threshold, class: "form-control", placeholder: "Threshold number.." %>
  </div>
  <%= form.submit "Only return records with more than `number` of cylinders.", class: "btn btn-primary" %>
<% end %>