<h1>New Vehicle</h1>

<%= form_with url: "/dealerships/#{@dealer.id}/vehicles", method: :post, local: true do |form| %>
  <div class="mb-3">
    <%= form.label :name, class: "form-label" %>
    <%= form.text_field :name, class: "form-control" %>
  </div>
  <div class="mb-3">
    <%= form.label :cylinder_count, class: "form-label" %>
    <%= form.text_field :cylinder_count, class: "form-control" %>
  </div>
  <div class="mb-3">
    <%= form.label :horsepower, class: "form-label" %>
    <%= form.text_field :horsepower, class: "form-control" %>
  </div>
  <div class="mb-3">
    <%= form.label :torque, class: "form-label" %>
    <%= form.text_field :torque, class: "form-control" %>
  </div>
  <div class="mb-3 form-check">
    <%= form.radio_button :luxury_model, "true", class: "form-check-input" %>
    <%= form.label :luxury_model_true, "Is a luxury model", class: "form-check-label" %>
  </div>
  <div class="mb-3 form-check">
    <%= form.radio_button :luxury_model, "false", class: "form-check-input" %>
    <%= form.label :luxury_model_false, "Isn't a luxury model", class: "form-check-label" %>
  </div>
  <%= form.submit "Create Vehicle", class: "btn btn-success" %>
<% end %>