<h1>All Vehicles</h1>

<% @vehicles.each do |vehicle| %>
  <div id="id_<%= vehicle.id %>">
    <p>Vehicle name: <%= vehicle.name %></p>
    <p>Vehicle cylinder count: <%= vehicle.cylinder_count %></p>
    <p>This vehicle has the luxury model: <%= vehicle.luxury_model %></p>
    <p>Vehicle horsepower: <%= vehicle.horsepower %></p>
    <p>Vehicle torque: <%= vehicle.torque %></p>
    <form action="/vehicles/<%= vehicle.id %>" method="POST">
      <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
      <input type="hidden" name="_method" value="DELETE">
      <input type="submit" value="Delete vehicle"/>
    </form>
    <%= link_to "Update Vehicle", "/vehicles/#{vehicle.id}/edit" %>
  </div>
<% end %>